<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Encontros Confirmados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="listScreen">
    <ion-list>
      <ion-item *ngFor="let item of items" (click)="viewItem(item)">{{item.title}}</ion-item>
    </ion-list>
  </div>

  <div *ngIf="addItemScreen">
    <div class="taskNameContainer">
      <ion-label class="small-label">Nome do Encontro</ion-label>
      <ion-input placeholder="O Nome do Seu Encontro" [(ngModel)]="taskName"></ion-input>
    </div>

    <div class="taskDetailsContainer">
      <ion-label class="small-label">Detalhes do Encontro</ion-label>
      <ion-textarea placeholder="Os Detalhes do Seu Encontro" [(ngModel)]="taskDetails"></ion-textarea>
    </div>
  </div>

</ion-content>