<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Conversar com Amigos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list class="messages">
    <ion-item class="chat-message">
      <ion-card>
        <ion-card-header>
          PrimeiroNome ÚltimoNome
        </ion-card-header>
        <ion-card-content>
          <p>Chat de Mensagem</p>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <div class="your-chats">
      <ion-item>
        <ion-card class="your-chat-message">
          <ion-card-header>
            PrimeiroNome ÚltimoNome
          </ion-card-header>
          <ion-card-content>
            <p>Chat de Mensagem</p>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </div>
  </ion-list>

  <ion-row class="messagebox">
    <ion-item class="message-input">
      <div class="messageWindow">
        <ion-label position="stacked">Mensagem: </ion-label>
        <ion-input></ion-input>
      </div>
    </ion-item>

    <div class="messageSend">
      <ion-button shape="round" color="dark" expand="block">Enviar</ion-button>
    </div>
  </ion-row>
</ion-content>