<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <ion-list class="ion-padding" lines="none">
      <ion-list-header>
        <h3>HangoutNow</h3>
      </ion-list-header>

      <ion-item>
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input type="text" placeholder="Informe o usuário ou o e-mail" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input type="password" placeholder="Informe a senha" formControlName="password"></ion-input>
      </ion-item>

      <ion-button shape="round" expand="full" color="dark" type="submit" [disabled]="!loginForm.valid">
        Login
      </ion-button>
      <ion-button shape="round" expand="full" color="dark" (click)="goToRegistro()">
        Registrar
      </ion-button>
    </ion-list>

    <div class="ion-padding-horizontal">
      <div class="form-error">{{loginError}}</div>
      <div class="login-footer">
        <p>
          <a>Esqueceu a senha?</a>
          Se você é um novo usuário, clique em registrar.
        </p>
      </div>
    </div>
  </form>
</ion-content>