<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Encontros no Mapa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <google-map></google-map>

  <div class="singleImageViewContainer">
    <ion-img src="/assets/images/map.jpeg"></ion-img>
    <div class="singleViewContent">
      <h1 class="detailViewTitle top-left">
        Todos os Encontros
      </h1>

      <div class="ion-padding singleViewDescription">
        <p>
          Visualização de todos os seus encontros no mapa,
        </p>
        <p>
          Encontros disponíveis ou confirmados são exibidos acima.
        </p>
      </div>

      <ion-row>
        <ion-col>
          <ion-button shape="round" expand="full" color="dark">Atualizar Mapa</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>