* {
    color:#fff;
}

ion-item {
    cursor: pointer !important;
}

ion-card {
    margin: 0 auto !important;
}

ion-card-title {
    font-size: 24px !important;
}

.sc-ion-modal-md-h{
    background: rgb(24,24,24) !important;
}

h1{
    padding:20px;
}