<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list padding lines="none">
    <ion-list-header>
      <ion-label>Registrar no HangoutNow</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="stacked">Usuário</ion-label>
      <ion-input placeholder="Informe o nome usuário"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input placeholder="Informe a senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirmar Senha</ion-label>
      <ion-input placeholder="Informe a senha novamente"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input placeholder="Informe o e-mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sexo</ion-label>
      <ion-select placeholder="Selecione o sexo">
        <ion-select-option> Masculino </ion-select-option>
        <ion-select-option> Feminino </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button shape="round" fill="outline">Cadastrar</ion-button>
    <ion-button shape="round" fill="outline">Cancelar</ion-button>
</ion-content>