<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Registrar no HangoutNow
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list padding lines="none">
    <ion-list-header>
      <ion-label>HangoutNow</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="stacked">Usuário</ion-label>
      <ion-input placeholder="Informe o nome usuário"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input placeholder="Informe a senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirmar Senha</ion-label>
      <ion-input placeholder="Informe a senha novamente"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input placeholder="Informe o e-mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefone Celular: </ion-label>
      <ion-input placeholder="Informe o número do telefone celular" mask="(00) 00000-0000"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sexo</ion-label>
      <ion-select placeholder="Selecione o sexo">
        <ion-select-option>Masculino</ion-select-option>
        <ion-select-option>Feminino</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button shape="round" expand="full" color="dark">Cadastrar</ion-button>
    <ion-button shape="round" expand="full" color="dark"(click)='goToLogin()'>Cancelar</ion-button>
  </ion-list>
</ion-content>